<!-- <app-header> </app-header> -->
<ion-header>
    <ion-toolbar>
        <ion-button slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-button>
        <ion-title>Avatar</ion-title>
        <ion-avatar slot="end">
            <img src="/assets/stan-lee.jpg">
        </ion-avatar>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let i of [2,2,2,2,2,2,2,2]">
            <ion-chip>
                <ion-avatar>
                    <img src="/assets/stan-lee.jpg">
                </ion-avatar>
                <ion-label>Stan Lee</ion-label>
            </ion-chip>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item *ngFor="let i of [1,1,1,1,1,1,1,1,1]">
            <ion-avatar slot="start">
                <img src="/assets/stan-lee.jpg">
            </ion-avatar>
            <ion-label>Stan Lee</ion-label>
        </ion-item>
    </ion-list>
</ion-content>